<header class="hero-unit">
  <div class="container">
    <h3>Cars</h3>
  </div>
</header>

<div class="container">
  <br />
  <br />
  <div class="row">
    <div class="col-lg-2">

      <div class="btn-group" style="width:100%;" uib-dropdown is-open="carsCtrl.makesStatus.isopen">
        <button id="single-button" type="button" class="btn btn-default" style="width:100%;" uib-dropdown-toggle
        ng-disabled="carsCtrl.makesDisabled()">
        {{carsCtrl.currentMake.name}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="make in carsCtrl.makes" ng-click="carsCtrl.changeMake($event,make.id)"> <a href="#">{{make.name}}</a></li>
        </ul>
      </div>
      <br /><br />

      <div class="btn-group" style="width:100%;" uib-dropdown is-open="carsCtrl.modelsStatus.isopen">
        <button id="single-button" type="button" class="btn btn-default" style="width:100%;" uib-dropdown-toggle
         ng-disabled="carsCtrl.modelsDisabled()">
          {{carsCtrl.currentModel.model}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="model in carsCtrl.models" ng-click="carsCtrl.changeModel($event,model.id)"><a href="#">{{model.model}}</a></li>
        </ul>
      </div>
      <br /><br />
      <button class="btn btn-primary" ng-click="carsCtrl.goSearch($event);">Search</button>
    </div>

    <div class="col-lg-10" ng-if="!carsCtrl.showList">
      <h2>No vehicles found</h2>
      <p>There no vehicles that match your search criteria.</p>
    </div>
    <div class="col-lg-10" ng-if="carsCtrl.showList">

      <div class="row car-row" id="row{{$index}}" ng-repeat="car in carsCtrl.cars">
        <div class="col-lg-2 car-list-image">
          <a ui-sref="car({car_id:car.id})">
            <jwt-thumbnail jwt-image="car.images[0]"></jwt-thumbnail>
          </a>
        </div>
        <div class="col-lg-6">
          <a ui-sref="car({car_id:car.id})"><h4>{{car.make.name}}&nbsp;{{car.model}}</h4></a>
          <ul>
            <li>{{car.body_type}}</li>
            <li>{{car.milage}}</li>
          </ul>
        </div>
        <div class="col-lg-2" style="margin: 10px">
          <button class="btn btn-primary" ng-if="carsCtrl.can('car','post')" id="edit{{$index}}" ng-click="carsCtrl.carPicked($event, car.id)">Edit</button>
          <input type="checkbox">add to compare
        </div>
      </div>

      <uib-pagination total-items="carsCtrl.totalCars" ng-model="carsCtrl.currentPage" ng-change="carsCtrl.currentPageChanged()" max-size="carsCtrl.maxSize" ng-show="carsCtrl.totalCars > carsCtrl.maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="true"></uib-pagination>
    </div>
  </div>
</div>
