<div class="row">
  <div class="col-lg-12">
    <ul class="pagination">
      <li class="page-item" ng-class="{'disabled': paginationCtrl.disableBegining}"
      ng-click="paginationCtrl.pagerClicked($event,'first')"><a href="#">«</a></li>
      <li class="page-item" ng-class="{'disabled': paginationCtrl.disablePrevious}"
      ng-click="paginationCtrl.pagerClicked($event,'previous')"><a href="#">‹</a></li>
      <li class="page-item" ng-repeat="page in paginationCtrl.pages"
      ng-click="paginationCtrl.pagerClicked($event,page)"><a href="#">{{page}}</a></li>
      <li class="page-item" ng-class="{'disabled': paginationCtrl.disableNext}">
        <a href="#" ng-click="paginationCtrl.pagerClicked($event,'next')">›</a>
      </li>
      <li class="page-item" ng-class="{'disabled': paginationCtrl.disableEnding}">
        <a href="#" ng-click="paginationCtrl.pagerClicked($event,'last')">»</a>
      </li>
    </ul>
  </div>
</div>
