<header class="hero-unit">
  <div class="container">
    <h3>Car</h3>
  </div>
</header>

<div class="container">
  <br />
  <br />
  <div class="row">
    <div class="col-lg-10 col-lg-offset-2" ng-if="!carCtrl.showCar">
      <h2>No vehicles found</h2>
      <p>There were no vehicles that matched your search criteria.</p>
    </div>
    <div class="col-lg-10 col-lg-offset-2" ng-if="carCtrl.showCar">
      <div class="row">
        <div class="col-lg-6">
          <button class="btn btn-primary" ng-click="carCtrl.editCar($event)">Edit</button>
          <h2>{{carCtrl.car.make.name}}&nbsp;{{carCtrl.car.model}}</h2>
          <jwt-carousel><jwt-carousel>
        </div>
        <jwt-contact-us></jwt-contact-us>
      </div>
      <div class="row">
        <div class="col-lg-10">
          <h2>Car Details</h2>
          <p>{{carCtrl.car.description}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
