<header class="hero-unit">
  <div class="container">
    <h3>Comments</h3>
  </div>
</header>

<div class="container">
  <br /><br />
  <div class="row">
      <div class="col-lg-2">

      </div>
      <div class="col-lg-10" ng-if="!commentsCtrl.showList">
        <h2>No comments found</h2>
        <p>There where no comments returned.</p>
      </div>
    <div class="col-lg-10" ng-if="commentsCtrl.showList">

        <div class="row comment-row"
        ng-repeat="comment in commentsCtrl.comments"
        ng-click="commentsCtrl.commentPicked($event, comment.id)">
        <a>
          <ul>
            <li><h5>{{comment.name}}</h5></lid>
            <li><h6>{{comment.email}}</h5></lid>
            <li><h6>{{comment.subject}}</h6></li>
            <li><h5>{{comment.message}}<h5></li>
          </ul>
        </a>
        </div>
<jwt-uploader></jwt-uploader>
    </div>
  </div>
</div>
